 body {
 background-color: #06101e;
}

.parallax{
    min-height: 9101px; 
 }
 .cohete {
    height: 400px; 
    margin: 0 auto;;
}
.header{
    width: 100%;
    position: fixed;
    background: transparent;
    height: 150px;
}
#timeElm,#jumps,#myProgress{
    width: 33%;
    text-align: center;
    line-height: 150px;
    font-size: 100px;
    float: left;
    height: 200px;
}
#myProgress{
    height: 60px;
    margin: 45px auto 45px auto;
}
#timeElm{
    left:0;
}
#jumps{
    right: 0;
}
section#win {
    position: relative;
    text-align: center;
    color: white;
}
.player-name,.player-points {
    position: absolute;
    font-size: 50px;
    left: 260px;
}
.player-name{
    bottom: 280px;
}
.player-points {
    bottom: 175px;
}



