.parallax{
    min-height: 1080px; 
    background-size: cover;
 }
 .cohete {
    height: 300px; 
    margin: 0 auto;;
}
.header{
    width: 100%;
    position: fixed;
    background: white;
    height: 150px;
}
#timeElm,#jumps,#myProgress{
    width: 33%;
    text-align: center;
    line-height: 150px;
    font-size: 100px;
    float: left;
    height: 200px;
}
#myProgress{
    height: 60px;
    margin: 45px auto 45px auto;
}
#timeElm{
    left:0;
}
#jumps{
    right: 0;
}