 body {
 background-color: #06101e;
 
}

section#loadingSection{
    width: 100%;
    display: none;
}
section#loadingSection >img{
    width: 168px;
    display: block;
    margin: auto;
    margin-top: 260px;
}

 .cohete {
    height: 500px; 
    margin: 0 auto;;
}
.header{
    width: 100%;
    position: fixed;
    background: transparent;
    height: 150px;
}
#timeElm,#jumps,#myProgress{
    width: 33%;
    text-align: center;
    line-height: 150px;
    font-size: 100px;
    float: left;
    height: 200px;
}
#myProgress{
    height: 60px;
    margin: 45px auto 45px auto;
}
#timeElm{
    left:0;
}
#jumps{
    right: 0;
}
section#win {
    position: relative;
    text-align: center;
    color: #000000;
}
.player-name,.player-points {
    position: absolute;
    font-size: 40px;
    
}
progress::-webkit-progress-value { background:#a3640d; }
.player-name{
    bottom: 198px;
    left: 136px;
}
.player-points {
    bottom: 123px;
    left: 185px;
    color:white;
}



